In [7]:
import pandas as pd

In [6]:
df = pd.read_json("annotations.jsonl", orient="records", lines=True)

In [7]:
df = df.drop_duplicates(subset=["text"])

In [8]:
df.answer.value_counts()

accept    123
reject     21
ignore     17
Name: answer, dtype: int64

In [9]:
df = df[df.answer.isin(["accept", "reject"])]

In [10]:
df

,text,meta,_input_hash,_task_hash,label,score,priority,spans,_view_id,answer,_timestamp
0,attention of the public.IMPROVEMENT IN STEAM N...,"{'date': -3661459200000, 'location': 'Liverpoo...",1367150814,-1818130875,POLITICAL,0.491696,0.491696,[],classification,reject,1661245380
1,revolutionists see-ing the hopelessness of suc...,"{'date': -3661286400000, 'location': 'Liverpoo...",1497902585,344875813,POLITICAL,0.490497,0.490497,[],classification,accept,1661245387
2,"Caleste and Mr. Benjamin Webster, are fulfilli...","{'date': -3666988800000, 'location': 'Liverpoo...",-1754805272,645741434,POLITICAL,0.487390,0.487390,[],classification,accept,1661245402
3,that feeling of devotion in those departments ...,"{'date': -3663792000000, 'location': 'Liverpoo...",-680232274,780456910,POLITICAL,0.513351,0.513351,[],classification,accept,1661245417
4,that the education wrangle has itspecuniary ad...,"{'date': -3662496000000, 'location': 'Liverpoo...",-305140390,-1445931393,POLITICAL,0.486170,0.486170,[],classification,accept,1661245427
...,...,...,...,...,...,...,...,...,...,...,...
234,"from, the velocity of the vessels. The SarahPa...","{'date': -3580502400000, 'location': 'Liverpoo...",804903967,-1405682507,POLITICAL,NaN,NaN,NaN,classification,reject,1661266333
235,"and a mail from China.FRANCE.(FROM OUR OW4,,CO...","{'date': -3580502400000, 'location': 'Liverpoo...",-803952962,596394159,POLITICAL,NaN,NaN,NaN,classification,accept,1661266347
236,"unmoved during the trial,now said that he shou...","{'date': -3580502400000, 'location': 'Liverpoo...",-121517767,421909678,POLITICAL,NaN,NaN,NaN,classification,accept,1661266355
237,parties themselves without anyriegociatiens by...,"{'date': -3580416000000, 'location': 'Liverpoo...",604792436,2035626947,POLITICAL,NaN,NaN,NaN,classification,accept,1661266377
239,the govern•anent to-day confirm the news of th...,"{'date': -3580243200000, 'location': 'Liverpoo...",-982186764,98680693,POLITICAL,NaN,NaN,NaN,classification,accept,1661266618

## Process combined annotations

In [61]:
df = pd.read_csv("HMD_revolution_annotations - annotations.csv", index_col=0)

In [62]:
len(df)

144

In [63]:
df["answer"].value_counts()

accept    123
reject     21
Name: answer, dtype: int64

In [64]:
from sklearn.metrics import cohen_kappa_score

In [65]:
y1 = df["answer"]
y2 = df["KB_answer"]

In [66]:
cohen_kappa_score(y1, y2)

0.8224101479915433

In [67]:
from huggingface_hub import notebook_login

In [68]:
from datasets import Dataset

In [72]:
df.reset_index(inplace=True)

In [73]:
ds = Dataset.from_pandas(df)

In [74]:
ds

Dataset({
    features: ['index', 'text', 'answer', 'KB_answer', 'meta', '_input_hash', '_task_hash', 'label', 'score', 'priority', 'spans', '_view_id', '_timestamp'],
    num_rows: 144
})

In [75]:
ds.push_to_hub("davanstrien/hmd_politics_annotations", private=True)

Pushing dataset shards to the dataset hub:   0%|          | 0/1 [00:00<?, ?it/s]/Users/dvanstrien/miniconda3/envs/biglam/lib/python3.9/site-packages/huggingface_hub/hf_api.py:1948: FutureWarning: `identical_ok` has no effect and is deprecated. It will be removed in 0.11.0.
  warnings.warn(
Pushing dataset shards to the dataset hub: 100%|██████████| 1/1 [00:04<00:00,  4.62s/it]